
/* COLORS */


/* BODY BAGROUND COLOR */
$backgound-color: #ffffff;
/* HEADER BAGROUND COLOR */
$backgound-color-header: #ffffff;
/* FOOTER BAGROUND COLOR */
$backgound-color-footer: #ffffff;

/* OTHER COLORS */

$light-green: #20c4c8;
$medium-green: #d7e6df;
$dark-green: #2c9601;
$light-blue: #89b2c8;
$dark-blue: #92b2c7;
$super-light-gray: #f8f8f8;
$light-gray: #e1e2e4;
$medium-gray: #c1c1c1;
$dark-gray: #4f5567;
$light-red: #DD6B55;
$light-orange: #ffb860;
$dark-orange: #fba73d;
