[Unit]
Description = Raspberry Pi Client service
Requires = influxdb.service openhab2.service
Wants = network-online.target
After = influxdb.service openhab2.service network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /home/pi/raspiclient-0.0.1-jar-with-dependencies.jar

[Install]
WantedBy=multi-user.target